# Project exclude paths

Assignment/assignment/bin/
Assignment/gxpengine/gxpengine/GXPEngine/bin/
Assignment/assignment/obj/
Assignment/gxpengine/gxpengine/GXPEngine/obj/
Assignment/assignment/.idea/
Assignment/assignment/.vs/